<?xml version='1.0' encoding='utf-8'?>
<widget id="com.havalinasw.stocks" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>stocks</name>
    <description>
        A timer app for teachers
    </description>
    <author email="bhgray@havalinasw.com" href="http://havalinasw.com/">
      Brent Gray
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <plugin name="cordova-plugin-device" spec="~1.1.0" />
    <plugin name="cordova-plugin-console" spec="~1.0.2" />
    <plugin name="cordova-plugin-whitelist" spec="https://github.com/apache/cordova-plugin-whitelist.git" />
    <plugin name="cordova-plugin-splashscreen" spec="~3.0.0" />
    <plugin name="cordova-plugin-statusbar" spec="~2.0.0" />
    <plugin name="ionic-plugin-keyboard" spec="~1.0.8" />
</widget>
